.about {
  padding-top: 125px;
  padding-bottom: 125px;
  &__container {
    margin-left: 115px;
    margin-right: 115px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
  }
  &__left-container {
    display: flex;
    flex-direction: column;
  }
  &__text {
    display: flex;
    text-align: left;
    font-size: 14px;
  }
  &__text-container {
    width: 100%;
  }
  &__photo {
    max-width: 90%;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
  }
}
