.footer {
  // margin-top: 125px;
  // position: fixed;
  height: 85px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  &__title {
    text-align: left;
    font-size: 24px;
  }
  &__right {
    font-size: 8px;
  }
  &__socials {
    max-width: 50px;
    img {
      max-width: 20px;
      padding-left: 35px;
      filter: grayscale(100%);
    }
  }
  &__leftcon {
    display: flex;
    align-items: center;
  }
}
