.navbar {
  width: auto;
  //   margin: 20px auto;
  height: 75px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  overflow: hidden;
  // filter: drop-shadow(7px -2px 9px #444444);
  border-bottom: 1px solid #00000030;
  a:hover {
    cursor: pointer;
    color: rgb(140, 54, 238);
    // transition: all 0.5s ease;

    // font-size: 18px;
  }
  p:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 500px) {
    height: 50px;
  }
  //   #toggle {
  //     display: none;
  //     @media only screen and (max-width: 768px) {
  //       display: block;
  //       width: 40px;
  //       height: 40px;
  //     }
  //   }
  &__title {
    font-size: 28px;
    // margin-left: 20px;
    padding-right: 100px;
    font-weight: 600;
  }
  &__btn {
    z-index: 100;
    display: none;
    position: absolute;
    background-color: white;
    :hover {
      cursor: pointer;
    }
    @media only screen and (max-width: 500px) {
      display: block;
      width: 40px;
      height: 40px;
      top: 25px;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 35px;
    @media only screen and (max-width: 500px) {
      flex-direction: column;
      width: 100%;
      height: auto;
      //   padding-top: 200px;
      gap: 0;
      padding-right: 0;
      background-color: #1c1c1c;
      text-align: center;
    }
  }
  &__dropdown {
    // height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 45px;
    @media screen and (min-width: 500px) {
      display: none;
    }
  }
  &__dropdown-container {
    display: flex;
    flex-direction: column;
    top: 10px;
  }
  &__link {
    font-size: 16px;
    color: rgb(114, 114, 114);
    width: 100%;
    text-align: center;
    :hover {
      color: rgb(155, 155, 155);
    }
    @media only screen and (max-width: 500px) {
      border-top: 1px solid black;
      //   margin-top: 50px;
      color: white;
    }
  }
}
