.team {
  &__team {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
    color: white;
  }
  &__team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__team-title {
    font-size: 38px;
    font-weight: 600;
    padding-bottom: 35px;
    padding-top: 35px;
    text-align: left;
  }
  &__team-text-container {
    padding-left: 35px;
    text-align: left;
  }
  &__team-photo {
    height: 300px;
    width: 300px;
    a {
      height: 300px;
      width: 300px;
    }
    img {
      height: inherit;
      width: inherit;
      max-width: 500px;
      object-fit: cover;
    }
  }
  &__team-info {
    display: flex;
    flex-direction: row;
    padding-left: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    #ral {
      flex-direction: row-reverse;
    }
  }
  &__team-name {
    padding-bottom: 35px;
    font-size: 28px;
    font-weight: 600;
  }
  &__team-desc {
    font-size: 14px;
  }
  &__team-info-container {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

@media only screen and (max-width: 954px) {
  .team {
    &__team-info {
      flex-direction: column;
      padding-left: 0px;
    }
  }
  .theboys {
    display: flex;
    flex-direction: column;
  }
}
