.work {
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-y: scroll;
  background-color: black;
  color: white;

  @media screen and (max-width: 500px) {
    height: 50vh;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-left: 22%;
    @media screen and (max-width: 1025px) {
      margin-left: 0;
    }
  }
  &__left-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
  &__title {
    text-align: justify;
    font-size: 24px;
    font-weight: 600;
    max-width: 415px;
    padding-bottom: 35px;
    padding-top: 25px;
    @media screen and (max-width: 1025px) {
      text-align: center;
    }
    // opacity: 1;
    // transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    //   rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    // transform-style: preserve-3d;
  }
  &__project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 105px;
    @media screen and (max-width: 1025px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__example {
    img {
      width: 500px;
      height: 300px;
      object-fit: contain;
    }
  }
  &__desc-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 50px;
    @media screen and (max-width: 1025px) {
      align-items: center;
      justify-content: center;
      margin-left: 0;
    }
  }
  &__desc {
    font-size: 14px;
    color: rgb(185, 185, 185);
    text-align: left;
    max-width: 420px;
  }
  &__example {
    width: 500px;
  }
}
